
{% include "layouts/base.twig" %} {% block body %}
<main class="flex flex-col items-center p-3">
    <section class="max-w-6xl w-full">
        <p class="font-medium">Welkom op de voedselpakketten pagina</p>
    </section>
    <section class="max-w-6xl w-full flex flex-col">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold">Overzicht gezinnen met voedselpakketten</h2>
            <form id="filterForm" required class="bg-transparent border border-slate-600 rounded" action="{{ ('voedselpakketten/index') }}" method="post">
                <select name="eetwens" onchange="document.getElementById('filterForm').submit()">
                    <option value="">Selecteer Eetwens</option>
                    {% for eetwens in eetwensen %}
                        <option value="{{ eetwens.eetwens }}">{{ eetwens.eetwens }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        {# in deze tabel komen de opgehaalde suppliers #}
        <table class="text-center">
            <thead>
                <tr>
                    <th class="border border-gray-400 px-4 py-2">Naam</th>
                    <th class="border border-gray-400 px-4 py-2">Omschrijving</th>
                    <th class="border border-gray-400 px-4 py-2">Volwassenen</th>
                    <th class="border border-gray-400 px-4 py-2">Kinderen</th>
                    <th class="border border-gray-400 px-4 py-2">Babys</th>
                    <th class="border border-gray-400 px-4 py-2">Vertegenwoordiger</th>
        
                </tr>
            </thead>
            <tbody>
                {% for gezin in voedselpakketten %}
        
                <tr>
                    <td class="border border-gray-400 px-4 py-2">{{ gezin.naam }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ gezin.omschrijving }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ gezin.aantalvolwassenen }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ gezin.aantalkinderen }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ gezin.aantalbabys }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ gezin.voornaam }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}