{% include "layouts/base.twig" %} {% block body %}
<main class="flex flex-col items-center p-3">
    <section class="max-w-6xl w-full">
        <p class="font-medium">Welkom op de voedselpakketten pagina</p>
    </section>
    <section class="max-w-6xl w-full flex flex-col">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold">Overzicht gezinnen met voedselpakketten</h2>
            <form id="filterForm" class="bg-transparent border border-slate-600 rounded" action="{{ path('voedselpakketten/filter') }}" method="GET">
                <select name="eetwens" onchange="document.getElementById('filterForm').submit()" style="background-color: #fff; color: #000; padding: 0.5rem;">
                    <option value="">Selecteer Eetwens</option>
                    {% for eetwens in eetwensen %}
                        <option value="{{ eetwens.naam }}">{{ eetwens.naam }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        {# Table for displaying voedselpakketten #}
        <table class="text-center">
            <thead>
                <tr>
                    <th class="border border-gray-400 px-4 py-2">Naam</th>
                    <th class="border border-gray-400 px-4 py-2">Omschrijving</th>
                    <th class="border border-gray-400 px-4 py-2">Volwassenen</th>
                    <th class="border border-gray-400 px-4 py-2">Kinderen</th>
                    <th class="border border-gray-400 px-4 py-2">Babys</th>
                    <th class="border border-gray-400 px-4 py-2">Vertegenwoordiger</th>
                    <th class="border border-gray-400 px-4 py-2">Voedselpakket details</th>
                </tr>
            </thead>
            <tbody>
                {% for gezin in voedselpakketten %}
                    <tr>
                        <td class="border border-gray-400 px-4 py-2">{{ gezin.naam }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ gezin.omschrijving }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ gezin.aantalvolwassenen }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ gezin.aantalkinderen }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ gezin.aantalbabys }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ gezin.voornaam }}</td>
                        <td class="border border-gray-400 px-4 py-2">
                            <a
                                href="{{ path(['voedselpakketten/show', voedselpakket.id]) }}"
                                class="text-green-400 hover:text-red-100"
                                >Bekijk details</a
                            >
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
